<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    TIJN Network
  </h1>
  <div *ngIf = "loginPageHidden; then afterLogin; else loginPage" >  </div>
<ng-template #loginPage>

    <input  #username type="text" placeholder="Username">
    <input  #password type="password" placeholder="password">
    <button  (click)="logIn(username.value,password.value)">LogIn</button>
    <h2> {{message}} </h2>
</ng-template>

<ng-template #afterLogin> 

  {{message}}
  <app-mainscreen> </app-mainscreen>
  
  </ng-template>

<button (click)="getData()" >Get Data</button>

<div *ngIf="showData; then data else hideData"></div>

<ng-template #data>

  <label> Your Account Balance is {{ Balance }}</label>
</ng-template>

<ng-template #hide>

  <label> Your data is hidden</label>
</ng-template>

<!-- After Logging In  -->







</div>
<router-outlet></router-outlet>
